// FONT FAMILY

$AlRegular: Alata-Regular;
$JSLight: JosefinSans-Light;

@font-face {
    font-family: $AlRegular;
    src: url("../fonts/Alata-Regular.ttf");
}
@font-face {
    font-family: $JSLight;
    src: url("../fonts/JosefinSans-Light.ttf");
}


